

  @font-face {
    font-family: "Druk";
    src: url("Druk.otf");
  }

  @font-face {
    font-family: "UniversLTStd-ExObl";
    src: url("UniversLTStd-ExObl.otf");
  }

  @font-face {
    font-family: "UniversLTStd-Ex";
    src: url("UniversLTStd-Ex.otf");
  }

  /* @font-face {
    font-family: "ConcoRom";
    src: url("UniversLTStd-ExObl.otf");
  } */

  @font-face {
    font-family: "Concorde-Regular";
    src: url("Concorde-Regular.otf");
  }
